@font-face{
  font-family: 'Monaco';
  src: url("/monaco.ttf") format('truetype');
}

html
{
  font-size:100%;
}

html, body
{
  margin:0;
  padding:0;
  touch-action: none;
  box-sizing: border-box;
  font-family: 'Monaco';
  user-select: none;
  overflow:hidden;
}

body
{
  font-size:1rem;
}

#infoscreen, #pointerlock
{
    position:fixed;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

#pointerlock
{
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  display:flex;
}

#infoscreen
{
    top:1%;
    bottom:1%;
    left:1%;
    right:1%;
    display:none;
    animation-name: info-animation;
    animation-duration: 0.5s;
}

#infoscreen-inner
{
  font-size:0.9rem;
  width:80%;
  box-sizing: border-box;
  padding:1rem;
  background-color:yellow;
  position:fixed;
  border-radius:1%;
  box-shadow:0px 0px 2rem black;
  display:flex;
  justify-content: center;
}

#infoscreen-close
{
  font-size:2rem;
  text-align: center;
  border-radius: 50%;
  position:relative;
  height:4rem;
  left:41%;
  width:4rem;
  top:0%;
  line-height: 4rem;
  background-color:red;
  box-shadow:inset 0.1rem 0 0.05rem 0.1rem rgba(75, 75, 0, 0.5);
}

.ersinfo-header
{
  background-color:black;
  color:white;
  margin-bottom:0.5rem;
}

.ersinfo-main
{
  width:92.5%;
}

.ersinfo-footer
{
  margin-top:1rem;
  border-top:1px solid black;
}

.portal
{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: stretch;
  box-sizing: border-box;
  padding:0.5rem;
}

.portal-header
{
  flex-basis:1rem;
  flex-shrink:0;
  flex-grow:1;
  font-size:1.5rem;
  font-weight:bold;
  
}

.portal-main
{
  flex-basis:1rem;
  flex-shrink:0;
  flex-grow:3;
}

.portal-buttons
{
  flex-basis:1rem;
  flex-grow:1;
  flex-shrink:0;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.portal-button
{
  display:block;
  background-color:rgb(0,0,0);
  color:white;
  text-decoration: none;
  padding: 0.5rem 2rem;
}

#pointerlock-msg
{
    position:fixed;
    width:50%;
    height:25vh;
    left:25vw;
    top:25vh;
    min-width:33vw;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    user-select: none;
    display:flex;
    align-items: center;
    justify-content:center;
}

#app
{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:transparent;
    z-index:2;
    user-select: none;
}

#navigation-mobile
{
  position:absolute;
  bottom:2vh;
  left:4%;
  width:92%;
  display:none;
  z-index: 3;
  height:15vh; /* portrait */
}

#navigation-mobile > #navigation-mobile-left, #navigation-mobile-right
{
  flex-basis:15vh;
  background-color:rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-width:1px;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);
  flex-grow:0;
  flex-shrink: 0;
}



#navigation-mobile > #navigation-mobile-middle
{
  flex-grow: 1;
  flex-shrink: 1;
  background-color: transparent;
}

#header
{
  font-size:0.75rem;
  position:fixed;
  top:0;
  left:0;
  right:0;
  min-height:4rem;
  background-color:rgba(255,255,255, 0.5);
  box-sizing: border-box;
  padding:0.5rem;
  justify-content: space-between;
  opacity:0;
  display:flex;
}

#header-padding
{
  flex-grow:1;
}

#header-left
{
  flex-grow:0;
  flex-shrink:0;
  flex-basis:8rem;
  background-image:url('/img/ers-logo-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}
#header-center
{
  flex-grow:0;
  flex-shrink:0;
  display:flex;
  align-items: center;
}
#header-right
{
  flex-grow:0;
  display:flex;
  align-items: center;
  justify-content:right;
}
#header-right p
{
  margin:0;
  padding-right:1em;
}

#header .roomsearch
{
  font-size:0.75rem;
  min-width:4em;
  min-height:2em;
  border:1px solid white;
  box-shadow: 0 0 0.1rem 0.05rem black;
  background-color:rgba(255, 255, 255, 0.5);
  border-radius:0.05rem;
  color:black;
  text-align:right;
  padding:0.1rem;
}



#data-position
{
  border-spacing: 0;
}

#loadingscreen
{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    background-image: url('/img/ers-logo.png');
    background-size:15%;
    background-repeat: no-repeat;
    background-position: 48.5% 25%;
    z-index:1000;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loadingscreen-animation {
    display: inline-block;
    position: relative;
    flex-basis: 80px;
    height: 80px;
  }
  .loadingscreen-animation div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(0, 50, 0);
    animation: loadingscreen-animation 1.2s linear infinite;
  }
  .loadingscreen-animation div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .loadingscreen-animation div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .loadingscreen-animation div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .loadingscreen-animation div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .loadingscreen-animation div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .loadingscreen-animation div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .loadingscreen-animation div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .loadingscreen-animation div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .loadingscreen-animation div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes loadingscreen-animation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
  }

  @keyframes info-animation{
    0%   {transform: scaleX(0);}
  100%  {transform: scaleX(1);}
}

@media screen and (orientation: landscape) 
{
  #navigation-mobile > #navigation-mobile-left, #navigation-mobile-right
  {
    flex-basis:15vw;
  }
  #navigation-mobile
  {
    height:15vw;
    bottom:4vh;
    left:7.5%;
    width:85%;
  }
}

@media screen and (max-width:512px) 
{
  #header-center
  {
    display:none;
  }
}